<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>548052095349-ma3r91l774ifsavvdbeh2it736orbgbu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.548052095349-ma3r91l774ifsavvdbeh2it736orbgbu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>548052095349-eu6r5f1436unm8irot7bkudeqvth3et5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBdJr7VSaN-uBueT0d13iQuUG9TNjsp_rM</string>
	<key>GCM_SENDER_ID</key>
	<string>548052095349</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aqaratadmin.aqaratAdmin</string>
	<key>PROJECT_ID</key>
	<string>aqarat-5f021</string>
	<key>STORAGE_BUCKET</key>
	<string>aqarat-5f021.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:548052095349:ios:e8d743c8335b6c4afc433c</string>
</dict>
</plist>